*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
background-image: url(../assests/siteBackground1.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;

  min-height: 100vh;
}
.navbar{
  background: #000000;
}
.navbar .navigation{
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
.navigation li{
  padding-left: 1px;
}
.navigation a ,.navigation2 a{
  padding: 20px;
color: #ffffff;
text-decoration: none;
}
.navigation a:hover{
  background-color: rgba(80,74,75,0.5);
}
.navigation a:focus{
  background-color: hsla(360,90%,70%,0.3);
}

.navbar img{
  width: 100px;
  padding-left: 7px;
}
.navbar li:first-child{
  margin-right: auto;
}
.navigation li button{
  width: 40px;
  height: 40px;
  background-color: red;
  border:2px solid white;
display: none;
}
.navigation2 li button{
  width: 40px;
  height: 40px;
  background-color: red;
  background-color: red;
  border:2px solid white;
  margin-right: auto;
}

.navigation2{
  visibility:hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px !important;
  z-index: 999;
background-color: rgba(90, 90, 90, 0.5); :
  display: flex;
  flex-direction: column;


align-items: flex-start;
}
.navigation2 {
  list-style-type: none;
}
.navigation2 li{
  width: 100%;
  display: flex;
  justify-content: center;



}
.navigation2 li:first-child{
  display: none;

}

.MovieTab{
  width: 100%;
  height: 500px;
  background:url(../assests/marvel-avengers.gif);
  background-repeat: no-repeat;
  background-size: cover;

}
.MovieTab h2{
  font-family: Garamond, serif;
  color: white;
}
.MovieTab .LatestMovies , .MovieTab .PlannedMovies{
  float: left;
}
.LatestMovies{
  width: 100%;
  height: 500px;

display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.movie1{
  width: 7%;
  height: 200px;
overflow: hidden;
    position: relative;
    transition: width 2s ease, height 2s ease;
}

.movie1 a img{
width: 100%;
height: 120%;
object-fit: cover;
     transition: width 2s ease, height 2s ease;


}
.movie1:hover{
  width: 20%;
  height: 100%;
}
.movie1 img:hover{
  width: 100%;
  height:100%;
}







.movie2{
  width: 7%;
  height: 200px;
overflow: hidden;
    position: relative;
    transition: width 2s ease, height 2s ease;
}

.movie2 a img{
width: 100%;
height: 120%;
object-fit: cover;
     transition: width 2s ease, height 2s ease;


}
.movie2:hover{
  width: 20%;
  height: 100%;
}
.movie2 img:hover{
  width: 100%;
  height:100%;
}





.movie3{
  width: 7%;
  height: 200px;
overflow: hidden;
    position: relative;
    transition: width 2s ease, height 2s ease;
}

.movie3 a img{
width: 100%;
height: 120%;
object-fit: cover;
     transition: width 2s ease, height 2s ease;


}
.movie3:hover{
  width: 20%;
  height: 100%;
}
.movie3 img:hover{
  width: 100%;
  height:100%;
}




.movie4{
  width: 7%;
  height: 200px;
overflow: hidden;
    position: relative;
    transition: width 2s ease, height 2s ease;
}

.movie4 a img{
width: 100%;
height: 120%;
object-fit: cover;
     transition: width 2s ease, height 2s ease;


}
.movie4:hover{
  width: 20%;
  height: 100%;
}
.movie4 img:hover{
  width: 100%;
  height:100%;
}



.movie5{
  width: 7%;
  height: 200px;
overflow: hidden;
    position: relative;
    transition: width 2s ease, height 2s ease;
}

.movie5 a img{
width: 100%;
height: 120%;
object-fit: cover;
     transition: width 2s ease, height 2s ease;


}
.movie5:hover{
  width: 20%;
  height: 100%;
}
.movie5 img:hover{
  width: 100%;
  height:100%;
}




.movie6{
  width: 7%;
  height: 200px;
overflow: hidden;
    position: relative;
    transition: width 2s ease, height 2s ease;
}

.movie6 a img{
width: 100%;
height: 120%;
object-fit: cover;
     transition: width 2s ease, height 2s ease;


}
.movie6:hover{
  width: 20%;
  height: 100%;
}
.movie6 img:hover{
  width: 100%;
  height:100%;
}





.movie7{
  width: 7%;
  height: 200px;
overflow: hidden;
    position: relative;
    transition: width 2s ease, height 2s ease;
}

.movie7 a img{
width: 100%;
height: 120%;
object-fit: cover;
     transition: width 2s ease, height 2s ease;


}
.movie7:hover{
  width: 20%;
  height: 100%;
}
.movie7 img:hover{
  width: 100%;
  height:100%;
}



.movie8{
  width: 7%;
  height: 200px;
overflow: hidden;
    position: relative;
    transition: width 2s ease, height 2s ease;
}

.movie8 a img{
width: 100%;
height: 120%;
object-fit: cover;
     transition: width 2s ease, height 2s ease;


}
.movie8:hover{
  width: 20%;
  height: 100%;
}
.movie8 img:hover{
  width: 100%;
  height:100%;
}




.movie9{
  width: 7%;
  height: 200px;
overflow: hidden;
    position: relative;
    transition: width 2s ease, height 2s ease;
}

.movie9 a img{
width: 100%;
height: 120%;
object-fit: cover;
     transition: width 2s ease, height 2s ease;


}
.movie9:hover{
  width: 20%;
  height: 100%;
}
.movie9 img:hover{
  width: 100%;
  height:100%;
}





.movie10{
  width: 7%;
  height: 200px;
overflow: hidden;
    position: relative;
    transition: width 2s ease, height 2s ease;
}

.movie10 a img{
width: 100%;
height: 120%;
object-fit: cover;
     transition: width 2s ease, height 2s ease;


}
.movie10:hover{
  width: 20%;
  height: 100%;
}
.movie10 img:hover{
  width: 100%;
  height:100%;
}






.movie11{
  width: 7%;
  height: 200px;
overflow: hidden;
    position: relative;
    transition: width 2s ease, height 2s ease;
}

.movie11 a img{
width: 100%;
height: 120%;
object-fit: cover;
     transition: width 2s ease, height 2s ease;


}
.movie11:hover{
  width: 20%;
  height: 100%;
}
.movie11 img:hover{
  width: 100%;
  height:100%;
}






.movie12{
  width: 7%;
  height: 200px;
overflow: hidden;
    position: relative;
    transition: width 2s ease, height 2s ease;
}

.movie12 a img{
width: 100%;
height: 120%;
object-fit: cover;
     transition: width 2s ease, height 2s ease;


}
.movie12:hover .movie1{
  width: 3% !important;
}

.movie12:hover{
  width: 20%;
  height: 100%;
}
.movie12 img:hover{
  width: 100%;
  height:100%;
}
.LatestMovies.shrink .moviesW {
  width: 3%;
}

/* .LatestMovies.shrink .movie12 {
  width: 20% !important;
}

.PlannedMovies{
  width: 30%;
  height:500px;
  background-color: yellow;
} */


.movieInfosec{
  width: 100%;
  height: 500px;

}
.movieInfosec .container{
  width: 75%;
  height: 500px;
  margin: auto;

}

.movieInfosec .container .MovieInfoImg, .movieInfosec .container .MovieInfoText{
  float: left;
}

.movieInfosec .container .MovieInfoImg{
  width: 45%;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.movieInfosec .container .MovieInfoText{
  width: 55%;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}


.MovieInfoImg img{
  width: 60%;
  height: 90%;
}













@media screen and (min-width:577px) and (max-width:768px) {
.navigation li button{
  display:none;
}
.hidemiddle{
  display: none;
}
.movie1, .movie2, .movie3, .movie4, .movie5, .movie6{
  width: 15% !important;
}

.movie1:hover{
  width: 25%;
}


}



@media screen and (max-width:576px) {
  .displaysmall{
    display: none;
  }
  .navigation li button{
    display:inline;
  }

  .hidesmall{
    display: none;
  }
  .movie1, .movie2, .movie3, .movie4{
    width: 20% !important;
  }
  .movie1:hover{
    width: 40%;
  }
}
